# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Env
.env*
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDE/editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln



# Misc
*.local
coverage/

# Optional
package-lock.json
yarn.lock 